@media screen and (max-width:480px) and (min-width:361px) {
    .main{
        width: 100%;
    }
    .menu{
        display: none;
    }
    .title-header {
        flex-direction: column;
    }
    .menu-mobile{
        display: flex;
    }
.a {
    display: flex;
}
    .body .img {
        width: 50%;
        height: 200px;
    }
    .desc{
        width: 45%;
        margin-left: 5%;
    }
}
@media screen and (max-width:360px)  {
    .main{
        width: 100%;
    }
    .menu{
        display: none;
    }
    .title-header {
        flex-direction: column;
        justify-content: center;
    }
    .menu-mobile{
        display: flex;
        width: 30%;
    }
    h1{
        font-size: 1.5rem;
    }
    .desc{
        margin-top: 0;
    }
    .a {
        margin-top: 20px;
    }
    .title{
        text-align: center;
    }
    .title-header .img img {
        margin-top: 20px;
    }
}